@font-face {
    font-family:"Ossem";
    src:url(fonts/Ossem-Rough.otf);
    font-style:normal;
}

:root {
    --title: #002000;
    --background: #204020;
    --divbackground: #002000;
    --text: #f0fff0;
    --textdark: #f0fff0;
    --select: hotpink;
    --shadow: black;
    --shadow2: #169b1a;
    --return: #169b1a;
}

body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    line-height:1.5;
    color:var(--text);
    background-color:var(--background);
    word-wrap: break-word;
    font-family:"Ossem";
    box-sizing:border-box;
}

@media only screen and (max-width:560px){
    /* Mobile */
    .menubutton, .menubuttonselected{
        padding:0px 5px;
        height:24px;
    }
    
    .align{
        font-size:10px;
        margin:3px 0px;
    }
    .header1{
        font-size:16px;
        margin:0% 20%;
    }
    .paragraph{
        margin:10px 100px;
        padding:10px;
        font-size:10px;
    }
    .projectbox{
        padding:10px 10%;
    }
}
@media only screen and (min-width:561px) and (max-width:1285px){
    /* Medium size */
    .menubutton, .menubuttonselected{
        padding:0px 5px;
        height:36px;
    }
    .align{
        font-size:12px;
        margin:9px 0px;
    }
    .header1{
        font-size:24px;
        margin:0% 20%;
    }
    .paragraph{
        margin:25px 150px;
        padding:25px;
        font-size:12px;
    }
    .projectbox{
        padding:25px 10%;
    }
    .projectbox img{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
    }
}
@media only screen and (min-width:1286px){
    /* Desktop */
    .menubutton, .menubuttonselected{
        padding:0px 15px;
        height:72px;
    }
    .align{
        font-size:20px;
    }
    .header1{
        font-size:48px;
        margin:0% 25%;
    }
    .paragraph{
        margin:50px 300px;
        padding:50px;
        font-size:20px;
    }
    .projectbox{
        padding:25px;
    }
    .projectbox img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }
}

nav{
    margin:0px;
}

.navigationbuttons{
    list-style-type:none;
    margin:0px;
    padding:0px;
}

.menubutton, .menubuttonselected{
    display:inline-block;
    float:left;
}

.menubuttonselected{
    color:var(--textdark);
    background-color:var(--background);
}

.menubutton{
    color:var(--text);
    background-color:var(--title);
}

.menubutton a:visited{
    color:var(--textdark);
}

.align{
    vertical-align:text-bottom;
}

.align a{
    text-decoration:none;
    color:var(--text);
}

.align a:hover{
    text-decoration:none;
    color:var(--select);
}

.titlebox{
    width:100%;
    padding:auto;
    background-color:var(--title);
    text-align:center;
    box-shadow:0px 0px 3px 1px var(--shadow), 0px 0px 5px -1px var(--shadow2);
}

.paragraph{
    background-color:var(--divbackground);
    box-shadow:0px 0px 3px 1px var(--shadow), 0px 0px 5px -1px var(--shadow2);
}

a{
    color:lightblue;
}

a:visited{
    color:hotpink;
}

.links{
    color:lightblue;`
}

.links:visited{
    color:hotpink;
}

.project{
    margin:auto;
    width:100%;
}

.return {
    color:var(--return);
    font-size:28px;
}

.return a{
    color:var(--text);
    text-decoration-line: underline;
    font-size: 24px;
}
